<div class="demo" role="banner">
  <svg style="width: 100vw; height: 100vh;">
    <g [circle]="{ cx: 70, cy: 60, r: 50, stroke: null}" svg-circle></g>
    <g [ellipse]="{ cx: 70, cy: 60, rx: 70, ry: 50, stroke: null}" svg-ellipse></g>
    <g [line]="{ x1: 70, y1: 20, x2: 70, y2: 100, stroke: null}" svg-line></g>
    <g [path]="{ path: 'M350 0 L375 200 L425 200 Z', stroke: null }" svg-path></g>
    <g [polygon]="testPolygon" svg-polygon></g>
    <g [polyline]="testPolyline" svg-polyline></g>
    <g [rectangle]="{ rx: 6, ry: 6, x: 200, y: 200, width: 120, height: 80, stroke: null}" svg-rect></g>
    <g svg-text x="150" y="150">
      Hello world
    </g>
  </svg>
</div>
